<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ericjohns.elec3850_1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/electric_house"
        android:label="Flip It OFf"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash_Screen"
            android:label="Flip It Off" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main"
            android:label="@string/title_activity_activity__main" >
            <intent-filter>
                <action android:name="elec3850_1.activity_main" />

                <category android:name="android.intent.category.ativity_main" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ericjohns.elec3850_1.Splash_Screen" />
        </activity>
        <activity
            android:name=".View_Devices"
            android:label="@string/title_activity_view__devices"
            android:parentActivityName=".Activity_Main" >
            <intent-filter>
                <action android:name="elec3850_1.View_Devices" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ericjohns.elec3850_1.Activity_Main" />
        </activity>
        <activity
            android:name=".Power_Usage"
            android:label="@string/title_activity_power__usage"
            android:parentActivityName=".Activity_Main" >
            <intent-filter>
                <action android:name="elec3850_1.Power_Usage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ericjohns.elec3850_1.Activity_Main" />
        </activity>
    </application>

</manifest>
